<div>
    <form [formGroup]="form">
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <label class="col-lg-2 col-form-label" for="simpleinput">Code</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" formControlName="code">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <label class="col-lg-2 col-form-label" for="simpleinput">Title</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" formControlName="title">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <label class="col-lg-2 col-form-label" for="simpleinput">Description</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" formControlName="description"
                            value="Some text value...">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <label class="col-lg-2 col-form-label" for="simpleinput">Specification</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" formControlName="specification"
                            value="Some text value...">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <label class="col-lg-2 col-form-label" for="example-fileinput">Thumbnail</label>
                    <div class="col-lg-10" *ngIf="type=='ADD'">
                        <input type="file" class="form-control" (change)="setBase64Image($event,true)">
                    </div>
                    <div *ngIf="type=='DELETE' || type=='UPDATE' || type=='VIEW'">
                        <img style="width: 100px;" src="{{thumbnail}}" alt="" srcset="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <label class="col-lg-2 col-form-label" for="example-fileinput">Image</label>
                    <div class="col-lg-10" *ngIf="type=='ADD'">
                        <input type="file" class="form-control" (change)="setBase64Image($event,false)">
                    </div>
                    <div *ngIf="type=='DELETE' || type=='UPDATE' || type=='VIEW'">
                        <img style="width: 100px;" src="{{image}}" alt="" srcset="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <label class="col-lg-2 col-form-label" for="simpleinput">Price</label>
                    <div class="col-lg-10">
                        <input type="number" class="form-control" formControlName="price" value="Some text value...">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <label class="col-lg-2 col-form-label">Category</label>
                    <div class="col-lg-10">
                        <select class="form-control custom-select" formControlName="category">
                            <option value="{{category.id}}" *ngFor="let category of categories">{{category.title}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <label class="col-lg-2 col-form-label">Status</label>
                    <div class="col-lg-10">
                        <select class="form-control custom-select" formControlName="status">
                            <option value="IN STOCK">In Stock</option>
                            <option value="OUT STOCK">Out of Stock</option>
                            <option value="Unavailable">Temporary Unavailable</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end" style="grid-gap: 10px;">
            <div>
                <button type="button" class="btn btn-light" (click)="cancelForm()" *ngIf="type!='VIEW'">Cancel</button>
            </div>
            <div>
                <button type="button" class="btn btn-primary new" (click)="saveItem()" *ngIf="type=='ADD'">Save</button>
            </div>
            <div>
                <button type="button" class="btn btn-secondary new" (click)="updateItem()"
                    *ngIf="type=='UPDATE'">Update</button>
            </div>
            <div>
                <button type="button" class="btn btn-danger new" (click)="deleteItem()" *ngIf="type=='DELETE'">Delete</button>
            </div>
        </div>
    </form>
</div>