<div class="container-fluid" *ngIf="isSearch">
  <div class="row mt-4">
    <div class="col-sm-2 col-xl-3">
      <div class="container-fluid">
        <form class="d-flex">
          <input (keyup)="search($event)" class="form-control me-2" name="search" type="search" placeholder="Search"
            aria-label="Search">
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h4 class="header-title mt-0 mb-2">{{title}}</h4>
              <p class="sub-header">View, Update, Delete and Create New {{title}}</p>
            </div>
            <div class="col-sm-12 col-md-6 text-md-right mb-2 mb-md-0" *ngIf="buttonTitle">
              <button type="button" class="btn btn-primary new" (click)="sendClickAlert()">{{buttonTitle}}</button>
            </div>
          </div>
          <div class="row mb-md-2" *ngIf="!isShowLoading">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="tickets-table_length"><label
                  class="d-inline-flex align-items-center">Show
                  <select name="tickets-table_length" (change)="pageChangeEvent(pageNumber)" aria-controls="tickets-table"
                    name="pageSize" [(ngModel)]="pageSize"
                    class="custom-select custom-select-sm form-control form-control-sm mx-2">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select> entries</label></div>
            </div>
          </div>

          <!-- Table -->
          <table id="basic-datatable" class="table dt-responsive nowrap" *ngIf="!isShowLoading">
            <thead>
              <tr>
                <th *ngIf="isImage" style="width: 100px;"></th>
                <th *ngFor="let column of columns" [ngClass]="column.header==='#'?'id':''">{{column.header}}</th>
                <th *ngIf="isActions" style="text-align: center; width: 130px;">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let table of tableData">
                <td *ngIf="isImage">
                  <div class="d-flex justify-content-center">
                    <img *ngIf="!!table['url']" src="{{table['url']}}" style="height: 20px;">
                    <img *ngIf="!!table['image']" src="{{table['image'].url}}" style="height:20px">
                    <img *ngIf="!!table['profileImage']" src="{{table['profileImage'].url}}" style="height:20px">
                  </div>
                </td>
                <td *ngFor="let column of columns" class="align-middle" [ngClass]="column.header==='#'?'id':''">
                  {{table[column.field]}}
                </td>
                <td *ngIf="isActions">
                  <div class="d-flex justify-content-center">
                    <div *ngIf="isDelete" class="cont" (click)="emitDeleteEvent(table)">
                      <i class='uil uil-trash-alt'></i>
                    </div>
                    <div class="cont" (click)="emitEditEvent(table)">
                      <i class='uil uil-edit'></i>
                    </div>
                    <div class="cont" (click)="emitViewEvent(table)">
                      <i class='uil uil-info-circle'></i>
                    </div>
                    <div *ngIf="isPlay" class="cont" (click)="emitPlayEvent(table)">
                      <i class='uil uil-play-circle'></i>
                    </div>
                  </div>
                </td>
              </tr>
              <tr *ngIf="!tableData || (tableData?.length==0 && !isShowLoading)">
                <td [attr.colspan]="columns?.length+1" style="text-align: center;">
                  No Records Found
                </td>
              </tr>
            </tbody>
          </table>
          <!-- End table -->

          <div class="d-flex justify-content-end" *ngIf="tableData && !isShowLoading">
            <!-- <div class="col-sm-12 col-md-5">
              <div class="dataTables_info mb-2 ml-2" id="tickets-table_info" role="status" aria-live="polite">Showing
                {{pageSize * (pageNumber-1) + 1}} to
                {{pageSize * (pageNumber-1) + tableData.length}} of {{totalRecords}}
                entries
              </div>
            </div> -->
            <!-- Pagination -->
            <div class="col-sm-12 col-md-5">
              <div class="text-md-right float-md-right pagination-rounded" style="grid-gap: 10px;display: flex;">
                <!-- <ngb-pagination [collectionSize]="totalRecords" [page]="pageNumber" [maxSize]="10"
                  (pageChange)="pageChangeEvent($event)" [pageSize]="pageSize">
                </ngb-pagination> -->

                <label style="cursor: pointer;" (click)="prevPage()">Prev</label>
                <label style="cursor: pointer;" (click)="nextPage()">Next</label>
              </div>
            </div>
            <!-- End Pagination -->
          </div>

          <div class="shimmer-view" *ngIf="isShowLoading">
            <div class="s-header animate"></div>
            <div class="s-tbl-row animate"></div>
            <div class="s-tbl-row animate"></div>
            <div class="s-tbl-row animate"></div>
            <div class="s-tbl-row animate"></div>
            <div class="s-tbl-row animate"></div>
            <div class="s-tbl-row animate"></div>
            <div class="s-pagination animate"></div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>