.cont {
  &:hover {
    i {
      cursor: pointer;
    }
    .uil-trash-alt {
      color: #ff5151;
    }
    .uil-edit {
      color: #157fff;
    }
    .uil-info-circle {
      color: #ff7e0d;
    }
    .uil-play-circle {
      color: #ff7e0d;
    }
  }
  i {
    padding: 10px;
    font-size: 15px;
  }
}

.id {
  text-align: center;
  width: 100px;
}

td {
  img {
    max-height: 20px;
    cursor: pointer;
  }
  img:before {
    content: ' ';
    display: block;
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #ffffff;
  }
}

.btn.new {
  font-weight: bold;
  margin-bottom: 24px;
}

.shimmer-view {

  .s-header {
    height: 30px;
    width: 160px;
    background: #777;
    margin-bottom: 20px;
  }

  .s-tbl-row {
    height: 25px;
    width: 100%;
    background: #777;
    margin-top: 10px;
  }

  .s-pagination {
    height: 30px;
    width: 250px;
    background: #777;
    margin-top: 20px;
  }

  .animate {
    animation : shimmer 2s infinite;
    background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
    background-size: 1000px 100%;
  }

  @keyframes shimmer {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }
}


