<div class="app-search">
  <form>
    <div class="input-group">
      <input name="search" [(ngModel)]="searchTerm" type="text" class="form-control" placeholder="Search...">
      <button type="button" class="btn btn-primary new" (click)="search()">Search</button>
    </div>
  </form>
</div>
<app-table [columns]="columns" [tableData]="tableData" (buttonClick)="newItem()" [pageSize]="10" 
  [isButton]="true" [buttonTitle]="'Add New Item'" [title]="'Items'" (editEvent)="editItem($event)"
  (viewEvent)="viewItem($event)" (pageChange)="pageChangeEvent($event)" (deleteEvent)="deleteItem($event)" [pageNumber]="currentPage"></app-table>